<div class="panel panel-default" ng-controller="ResourcesDatabasesCtrl">
	<div class="panel-body">
		<div class="filters">
			<md-input-container class="md-block col-md-9" style="margin-bottom:0px;">
				<label><i class="fa fa-search"></i> Search through your resources</label>
				<input ng-model="searchPattern">
			</md-input-container>
			<div class="providers btn-group col-md-2">
				<label class="btn btn-primary" ng-model="providers.aws" uib-btn-checkbox>
					<img class="provider-icon" src="img/s3-square.png" alt="" style="height: 15px;"> AWS
				</label>
				<label class="btn btn-primary" ng-model="providers.gcp" uib-btn-checkbox>
					<img class="provider-icon" src="img/gc-square.png" alt="" style="height: 15px;"> GCP
				</label>
				<label class="btn btn-primary" ng-model="providers.azure" uib-btn-checkbox>
					<i class="fa fa-cloud" style="height: 15px;"></i> Azure
				</label>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-striped estimation-table" ng-if="dataLoaded">
				<thead>
				<tr>
					<th class="clickable" ng-click="order('name')">
						<span uib-tooltip="Resource">
							<i class="fa fa-server"></i>
						</span>
						<i class="fa fa-arrow-up" ng-if="predicate === 'name' && reverse"></i>
						<i class="fa fa-arrow-down" ng-if="predicate === 'name' && !reverse"></i>
					</th>
					<th class="clickable" ng-click="order('size')">
                            <span uib-tooltip="Size/Type">
                                <i class="fa fa-database"></i>
                            </span>
						<i class="fa fa-arrow-up" ng-if="predicate === 'size' && reverse"></i>
						<i class="fa fa-arrow-down" ng-if="predicate === 'size' && !reverse"></i>
					</th>
					<th>
						<span uib-tooltip="Multi Availability Zone">
							<i class="fa fa-globe"></i>
						</span>
					</th>
					<th class="clickable" ng-click="order('engine')">
						<span uib-tooltip="Engine">
							<i class="fa fa-bolt"></i>
						</span>
						<i class="fa fa-arrow-up" ng-if="predicate === 'engine' && reverse"></i>
						<i class="fa fa-arrow-down" ng-if="predicate === 'engine' && !reverse"></i>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr class="resource-item" ng-if="!getInstances().length">
					<td colspan="4">
						<strong>No results</strong>
					</td>
				</tr>
				<tr class="resource-item ngfade" ng-repeat="instance in getPaginatedInstances()">
					<td style="text-align: left;" >
						<strong class="pull-left">{{instance.name}}</strong>
					</td>
					<td>
						{{instance.size}}
					</td>
					<td>
						<i ng-if="instance['multi-az']" class="fa fa-check-circle green" style="font-size: 20px;"></i>
						<i ng-if="!instance['multi-az']" class="fa fa-times" style="font-size: 20px;"></i>
					</td>
					<td>
						<img ng-if="instance.engine == 'mariadb'" class="db-logo" src="img/mariadb-logo.png" alt="">
						<img ng-if="instance.engine == 'mysql'" class="db-logo" src="img/mysql-logo.png" alt="">
						<img ng-if="instance.engine == 'aurora'" class="db-logo" src="img/aurora-logo.png" alt="">
						<img ng-if="instance.engine == 'postgres'" class="db-logo" src="img/postgre-logo.png" alt="">
						<img ng-if="instance.engine == 'oracle'" class="db-logo" src="img/oracle-logo.png" alt="">
						<img ng-if="instance.engine == 'sqlserver'" class="db-logo" src="img/sqlserver-logo.png" alt="">
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div ng-if="getInstances().length" class="pages-indicator" style="width: 100%; text-align: center;">
			<ul uib-pagination total-items="getFilteredInstances().length" ng-model="pagination.current" max-size="pagination.indicators" class="pagination-sm" boundary-link-numbers="true" style="margin: 0;"></ul>
		</div>
	</div>
</div>