<style>
	.tab-content .tab-content {
		border-top: 1px solid #ddd;
	}
</style>
<div class="panel panel-default" ng-controller="ResourcesStoragesCtrl">
	<div class="panel-body">
		<div class="filters" style="height: 100px;">
			<md-input-container class="md-block col-md-9" style="margin-bottom:0px;">
				<label><i class="fa fa-search"></i> Search through your resources</label>
				<input ng-model="searchPattern">
			</md-input-container>
			<div class="providers btn-group col-md-2">
				<label class="btn btn-primary" ng-model="providers.aws" uib-btn-checkbox>
					<img class="provider-icon" src="img/s3-square.png" alt="" style="height: 15px;"> AWS
				</label>
				<label class="btn btn-primary" ng-model="providers.gcp" uib-btn-checkbox>
					<img class="provider-icon" src="img/gc-square.png" alt="" style="height: 15px;"> GCP
				</label>
				<label class="btn btn-primary" ng-model="providers.azure" uib-btn-checkbox>
					<i class="fa fa-cloud" style="height: 15px;"></i> Azure
				</label>
			</div>
		</div>
		<uib-tabset active="resourceActive">
			<uib-tab index="1" select="changeResourceActive(1)">
				<uib-tab-heading>
					<i class="fa fa-archive"></i> Global
				</uib-tab-heading>
				<ng-include src="'components/monitor/resources/partials/storageList.html'" ng-if="resourceActive == 1"></ng-include>
			</uib-tab>
			<uib-tab index="2" select="changeResourceActive(2)" ng-if="providers.aws && instances.aws.length">
				<uib-tab-heading>
					<img class="provider-icon" src="img/s3-square.png" alt="" style="height: 15px;"> S3 Buckets
				</uib-tab-heading>
				<ng-include src="'components/monitor/resources/partials/s3bucketsList.html'" ng-if="resourceActive == 2"></ng-include>
			</uib-tab>
		</uib-tabset>
	</div>
</div>