<div class="panel panel-default" ng-controller="ResourcesVMsCtrl">
	<div class="panel-body">
		<div class="panel panel-default large-font" ng-if="providers.aws && AWSStatsLoaded">
			<div class="panel-heading">
				<img class="provider-icon" src="img/s3-square.png" alt=""> EC2 Instances ({{AWSstats.total}})
			</div>
			<div class="panel-body monts">
				<div class="col-lg-3 m-b-10 clickable" uib-tooltip="Click for more details" tooltip-placement="left" ng-click="toggleReservedDetails()">
					RESERVED :
					<span class="badge pull-right" style="margin-right: 25px;">{{AWSstats.reserved}}</span>
				</div>
				<div class="col-lg-3 m-b-10">
					ON-DEMAND :
					<span class="badge pull-right" style="margin-right: 25px;">{{AWSstats.onDemand}}</span>
				</div>
				<div class="col-lg-3 m-b-10">
					RESERVATIONS :
					<span class="badge pull-right" style="margin-right: 25px;">{{AWSstats.reservations}}</span>
				</div>
				<div class="col-lg-3 m-b-10">
					STOPPED :
					<span class="badge pull-right" style="margin-right: 25px;">{{AWSstats.stopped}}</span>
				</div>
			</div>
		</div>
		<div class="table-responsive">
			<div class="filters">
				<md-input-container class="md-block col-md-8" style="margin-bottom:0px;">
					<label><i class="fa fa-search"></i> Search through your resources</label>
					<input ng-model="searchPattern">
				</md-input-container>
				<div class="providers btn-group col-md-3" style="float: right;">
					<label class="btn btn-primary" ng-model="providers.aws" uib-btn-checkbox>
						<img class="provider-icon" src="img/s3-square.png" alt="" style="height: 15px;"> AWS
					</label>
					<label class="btn btn-primary" ng-model="providers.gcp" uib-btn-checkbox>
						<img class="provider-icon" src="img/gc-square.png" alt="" style="height: 15px;"> GCP
					</label>
					<label class="btn btn-primary" ng-model="providers.azure" uib-btn-checkbox>
						<i class="fa fa-cloud" style="height: 15px;"></i> Azure
					</label>
				</div>
			</div>
			<table class="table table-striped estimation-table" ng-if="dataLoaded">
				<thead>
				<tr>
					<th class="clickable" ng-click="order('name')">
									<span uib-tooltip="Resource">
										<i class="fa fa-server"></i>
									</span>
						<i class="fa fa-arrow-up" ng-if="predicate === 'name' && reverse"></i>
						<i class="fa fa-arrow-down" ng-if="predicate === 'name' && !reverse"></i>
					</th>
					<th class="clickable" ng-click="order('region')">
									<span uib-tooltip="Region">
										<i class="fa fa-globe"></i>
									</span>
						<i class="fa fa-arrow-up" ng-if="predicate === 'region' && reverse"></i>
						<i class="fa fa-arrow-down" ng-if="predicate === 'region' && !reverse"></i>
					</th>
					<th>
									<span ng-click="order('cpu_usage')" class="clickable" uib-tooltip="%CPU Usage over the last month">
										<img src="img/cpu.png" style="width: 20px" alt="">
									</span>
						<i class="fa fa-arrow-up" ng-if="predicate === 'cpu_usage' && reverse"></i>
						<i class="fa fa-arrow-down" ng-if="predicate === 'cpu_usage' && !reverse"></i> |
						<span ng-click="order('bandwidth_usage')" class="clickable" uib-tooltip="%Bandwidth Usage over the last month">
										<img src="img/bandwidth.png" style="width: 20px" alt="">
									</span>
						<i class="fa fa-arrow-up" ng-if="predicate === 'bandwidth_usage' && reverse"></i>
						<i class="fa fa-arrow-down" ng-if="predicate === 'bandwidth_usage' && !reverse"></i> |
						<span ng-click="order('io_usage')" class="clickable" uib-tooltip="%I/O Usage over the last month">
										<img src="img/storage.png" style="width: 20px" alt="">
									</span>
						<i class="fa fa-arrow-up" ng-if="predicate === 'io_usage' && reverse"></i>
						<i class="fa fa-arrow-down" ng-if="predicate === 'io_usage' && !reverse"></i>
					</th>
					<th class="clickable" ng-click="order('provider')">
						<span uib-tooltip="Provider">
							<i class="fa fa-bolt"></i>
						</span>
						<i class="fa fa-arrow-up" ng-if="predicate === 'provider' && reverse"></i>
						<i class="fa fa-arrow-down" ng-if="predicate === 'provider' && !reverse"></i>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr class="resource-item" ng-if="!getInstances().length">
					<td colspan="4">
						<strong>No results</strong>
					</td>
				</tr>
				<tr class="resource-item ngfade" ng-repeat="instance in getPaginatedInstances()">
					<td style="text-align: left;" >
						<strong class="pull-left">{{instance.name}}</strong>
						<br>
						{{instance.id}}
						<span class="badge pull-right" style="font-size: 12px; font-weight: 500;">{{instance.size}}</span>

					</td>
					<td>{{instance.region}}</td>
					<td style="min-width: 110px;">
						<uib-progressbar uib-tooltip="CPU {{instance.cpu_usage.toFixed(1)}}%" value="instance.cpu_usage" type="{{getProgressType(instance.cpu_usage)}}"></uib-progressbar>
						<uib-progressbar uib-tooltip="Bandwidth {{instance.bandwidth_usage.toFixed(1)}}%" value="instance.bandwidth_usage" type="{{getProgressType(instance.bandwidth_usage)}}"></uib-progressbar>
						<uib-progressbar uib-tooltip="I/O {{instance.io_usage.toFixed(1)}}%" value="instance.io_usage" type="{{getProgressType(instance.io_usage)}}"></uib-progressbar>
					</td>
					<td>
						<img ng-if="instance.provider == 'aws'" class="provider-icon" src="img/s3-square.png" alt="">
						<img ng-if="instance.provider == 'gcloud'" class="provider-icon" src="img/gc-square.png" alt="">
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div ng-if="getInstances().length" class="pages-indicator" style="width: 100%; text-align: center;">
			<ul uib-pagination total-items="getFilteredInstances().length" ng-model="pagination.current" max-size="pagination.indicators" class="pagination-sm" boundary-link-numbers="true" style="margin: 0;"></ul>
		</div>
	</div>
</div>