<style>
</style>

<div class="container-fluid">
	<div ng-hide="keyExist" class="container">
		<div class="row m-b-20">
			<div class="col-md-12">
				<div class="panel panel-default large-font">
					<div class="panel-body monts add-key" style="position: relative; text-align: center">
						<div><strong>You have not linked an AWS key to your TrackIt account.</strong></div>
						<button ui-sref="app.keyselect" class="btn">
							<i class="fa fa-plus"></i> Enter your AWS Key
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="showData" class="container">

		<div class="row m-b-20">
			<div class="col-md-6">
				<ng-include src="'components/monitor/utilization/awsCPUUsage.html'"></ng-include>
			</div>
			<div class="col-md-6">
				<ng-include src="'components/monitor/utilization/awsCPUUsageTag.html'"></ng-include>
			</div>
		</div>

		<div class="row m-b-20">
			<ng-include src="'components/monitor/utilization/awsCostUsage.html'"></ng-include>
		</div>

		<div class="row m-b-20">
			<ng-include src="'components/monitor/utilization/gcpCostUsage.html'"></ng-include>
		</div>

	</div>
</div>
