<div class="modal-header">
    <h3 class="modal-title">Forgot password ?</h3>
</div>
<div class="modal-body">
  <form name="forgotForm" novalidate>
    <div class="form-group">
      <label for="exampleInputEmail1">Please enter your Email address</label>
      <input type="email" ng-model="email" class="form-control" id="exampleInputEmail1" ng-disabled="done" placeholder="Email" required>
    </div>
    <button type="submit" class="btn" ng-disabled="forgotForm.$invalid" ng-click="submit()">Submit</button>
    <div class="alert alert-success" role="alert" ng-if="done" style="margin-top: 10px;">
      <strong>Success : </strong>
      if your email is correct you should receive a reset link shortly.
    </div>

  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
</div>
