<style media="screen">
    .wrapper {
        height: 100%;
    }

    .logo-wrapper > img {
        display: block;
        margin: auto;
        width: 40%;
        max-width: 450px;
        min-width: 300px;
        margin-top: 100px;
    }

    .form-wrapper {
        background-color: #08C;
        padding: 30px;
        color: white;
        border-radius: 10px;
        -webkit-box-shadow: 2px 6px 10px 0px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 2px 6px 10px 0px rgba(0, 0, 0, 0.6);
        box-shadow: 2px 6px 10px 0px rgba(0, 0, 0, 0.6);
    }

    label {
        font-size: 17px;
    }
</style>

<div class="wrapper">
    <div class="logo-wrapper">
        <img ng-src="img/logo.png" alt="">
    </div>



    <div class="row monts" style="margin-top: 80px;">
        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 form-wrapper">
            <form>
              <div class="form-group">
                  <label for=""><i class="fa fa-lock hidden-xs"></i>&nbsp;New Password</label>
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="password" required>
              </div>
              <div class="form-group">
                  <label for=""><i class="fa fa-lock hidden-xs"></i>&nbsp;Confirm</label>
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="confirmPassword" required>
              </div>

                <div class="alert alert-warning" role="alert" ng-show="error"><strong>Error : </strong>Something went wrong. Please check your credentials and try again.</div>
                <div class="alert alert-success" role="alert" ng-show="success"><strong>Success : </strong> Your password was reset. Please click <a ui-sref="login">here</a> to log in. </div>

                <button type="submit" ng-disabled="!password || !confirmPassword || password != confirmPassword" class="btn btn-default btn-fullwidth" ng-click="reset()" style="margin-top: 30px; background-color: #F7F7F7;color: #002A66;">Reset password</button>
            </form>
        </div>

    </div>




</div>
