<div class="panel panel-default ">
    <div class="panel-body">
        <i class="fa fa-question-circle fa-2x pull-right" uib-popover-html="searchHelp" popover-trigger="mouseenter" popover-placement="bottom"></i>
        <span class="pull-right"  style="font-size:12px;">Last update: <span class="blue">{{vmsLastUpdated ? getFormattedDate(vmsLastUpdated) : 'never'}}</span> Next planned update : <span class="blue">in {{vmsNextUpdate ? vmsNextUpdate : '6'}} hours</span></span>
          <md-input-container class="md-block" style="margin-bottom:0px;">
              <label><i class="fa fa-search"></i> Search through your resources</label>
              <input ng-model="resourceSearch">
          </md-input-container>


        <button type="button" class="btn btn-primary" ng-model="togglePricing" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
            {{(togglePricing ? "Hide" : "Show")}} providers pricing
        </button>

        <div class="table-responsive">
            <h4 style="text-align: center" ng-show="!awsVMsNoDataMessage && !dataLoaded">No data available. Please try again later.</h4>
            <h4 style="text-align: center" ng-show="awsVMsNoDataMessage && !dataLoaded">{{awsVMsNoDataMessage}}</h4>
            <table class="table table-striped estimation-table" ng-if="dataLoaded">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-xs" ng-click="selectAll(searchResults, 'vm')"><i class="fa fa-arrow-down"></i> Select </button>
                        </th>
                        <th class="clickable" ng-click="order('name')">
                            <span uib-tooltip="Resource">
                                <i class="fa fa-server"></i>
                            </span>
                            <i class="fa fa-arrow-up" ng-if="predicate === 'name' && reverse"></i>
                            <i class="fa fa-arrow-down" ng-if="predicate === 'name' && !reverse"></i>
                        </th>

                        <th class="clickable" ng-click="order('region')">
                             <span uib-tooltip="Region">
                                <i class="fa fa-globe"></i>
                             </span>
                            <i class="fa fa-arrow-up" ng-if="predicate === 'region' && reverse"></i>
                            <i class="fa fa-arrow-down" ng-if="predicate === 'region' && !reverse"></i>
                        </th>

                        <th>
                            <span uib-tooltip="Provider">
                                <i class="fa fa-bolt"></i>
                            </span>
                        </th>

                        <th ng-if="!togglePricing">
                            <span uib-tooltip="Cost ($)">
                                <i class="fa fa-dollar"></i>
                            </span>
                        </th>

                        <th class="clickable" ng-if="togglePricing" ng-click="order('aws')">
                            <span uib-tooltip="AWS ($)"><img src="img/s3-square.png" style="width: 30px" alt=""></span>
                            <i class="fa fa-arrow-up" ng-if="predicate === 'aws' && reverse"></i>
                            <i class="fa fa-arrow-down" ng-if="predicate === 'aws' && !reverse"></i>
                        </th>

                        <th class="clickable" ng-if="togglePricing" ng-click="order('gcloud')">
                            <span uib-tooltip="Google Cloud ($)"><img src="img/gc-square.png" style="width: 30px" alt=""></span>
                            <i class="fa fa-arrow-up" ng-if="predicate === 'gcloud' && reverse"></i>
                            <i class="fa fa-arrow-down" ng-if="predicate === 'gcloud' && !reverse"></i>
                        </th>

                        <th class="clickable" ng-if="togglePricing" ng-click="order('azure')">
                             <span uib-tooltip="Azure ($)"><img src="img/ms-square.png" style="width: 30px" alt=""></span>
                            <i class="fa fa-arrow-up" ng-if="predicate === 'azure' && reverse"></i>
                            <i class="fa fa-arrow-down" ng-if="predicate === 'azure' && !reverse"></i>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="resourceSearch && !itemsLength">
                        <td colspan="6">
                            <strong>No results</strong>
                        </td>
                    </tr>
                    <tr class="resource-item ngfade" ng-repeat="estimation in (pageFilteredEstimations = ($parent.searchResults = filteredEstimations = (estimations |  regex:resourceSearch )) | limitTo:show)">
                        <td>
                            <button uib-tooltip="Add to selection" ng-if="!isInSelection(estimation)" ng-click="addToSelection(estimation, 'vm')" class="btn btn-xs" style="background-color: #C3C3C3;"><i class="fa fa-plus"></i></button>
                            <button uib-tooltip="Remove from selection" ng-if="isInSelection(estimation)" ng-click="removeFromSelection(estimation)" class="btn btn-xs"><i class="fa fa-check"></i></button>
                        </td>
                        <td style="text-align: left;" >
                          <strong class="pull-left">{{estimation.name}}</strong>
                          <br>
                          {{estimation.id}}
                          <span class="badge pull-right" style="font-size: 12px; font-weight: 500;">{{estimation.size}}</span>
                        </td>
                        <td>{{estimation.region}}</td>
                        <td>
                            <img ng-if="estimation.provider == 'aws'" class="provider-icon" src="img/s3-square.png" alt="">
                            <img ng-if="estimation.provider == 'gcloud'" class="provider-icon" src="img/gc-square.png" alt="">
                        </td>
                        <td ng-if="!togglePricing">
                            {{getCostForProvider(estimation.provider, estimation.prices) | currency:'$':3}}/hr
                        </td>
                        <td ng-if="togglePricing" ng-class="{'selectedPrice' : estimation.provider == 'aws', 'unselectedPrice' : estimation.provider != 'aws'}">{{getCostForProvider('aws', estimation.prices) | currency:'$':3}}/hr</td>
                        <td ng-if="togglePricing" ng-class="{'selectedPrice' : estimation.provider == 'gcloud', 'unselectedPrice' : estimation.provider != 'gcloud'}">{{getCostForProvider('gcloud', estimation.prices) | currency:'$':3}}/hr</td>
                        <td ng-if="togglePricing" ng-class="{'selectedPrice' : estimation.provider == 'azure', 'unselectedPrice' : estimation.provider != 'azure'}">{{getCostForProvider('azure', estimation.prices) | currency:'$':3}}/hr</td>
                    </tr>
                    <tr ng-if="show < estimations.length && itemsLength > 0">
                        <td colspan="2"><strong>...</strong></td>
                        <td colspan="2"><strong><button class="btn" ng-click="showMore()">Show more</button></strong></td>
                        <td colspan="3"><strong>...</strong></td>
                    </tr>

                </tbody>

                <tfoot>

                    <tr>
                        <td colspan="4"><strong>TOTAL / PROVIDER</strong></td>
                        <td class="total-value">{{awsTotal | currency:'$':3}}/hr</td>
                        <td class="total-value">{{gcloudTotal | currency:'$':3}}/hr</td>
                        <td class="total-value">{{azureTotal | currency:'$':3}}/hr</td>
                    </tr>
                    <tr>
                        <td colspan="4"><strong>GRAND TOTAL</strong></td>
                        <td colspan="3" class="total-value">{{grandTotal | currency:'$':3}}/hr</td>
                    </tr>
                    <tr>
                        <td colspan="4"><strong>COST ESTIMATION</strong></td>
                        <td colspan="3" class="total-value">{{getMonthEstimation(grandTotal) | currency}}/month</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
