body {
  font-family: 'Open Sans', sans-serif;
  color: #808080;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  word-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}
p {
  margin-bottom: 26px;
}
a {
  color: #EE3E3D;
  text-decoration: none !important;
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
}
a:hover {
  color: #4c4c4c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', sans-serif;
  color: #4c4c4c;
  letter-spacing: 1px;
  font-weight: 400;
}
.form-control {
  border-radius: 2px !important;
  padding: 15px 20px !important;
  height: auto;
  border-color: #e5e5e5 !important;
  box-shadow: none !important;
}
.form-control:focus {
  border-color: #EE3E3D !important;
}
.mb250 {
  margin-bottom: 250px !important;
}
.mb245 {
  margin-bottom: 245px !important;
}
.mb240 {
  margin-bottom: 240px !important;
}
.mb235 {
  margin-bottom: 235px !important;
}
.mb230 {
  margin-bottom: 230px !important;
}
.mb225 {
  margin-bottom: 225px !important;
}
.mb220 {
  margin-bottom: 220px !important;
}
.mb215 {
  margin-bottom: 215px !important;
}
.mb210 {
  margin-bottom: 210px !important;
}
.mb205 {
  margin-bottom: 205px !important;
}
.mb200 {
  margin-bottom: 200px !important;
}
.mb195 {
  margin-bottom: 195px !important;
}
.mb190 {
  margin-bottom: 190px !important;
}
.mb185 {
  margin-bottom: 185px !important;
}
.mb180 {
  margin-bottom: 180px !important;
}
.mb175 {
  margin-bottom: 175px !important;
}
.mb170 {
  margin-bottom: 170px !important;
}
.mb165 {
  margin-bottom: 165px !important;
}
.mb160 {
  margin-bottom: 160px !important;
}
.mb155 {
  margin-bottom: 155px !important;
}
.mb150 {
  margin-bottom: 150px !important;
}
.mb145 {
  margin-bottom: 145px !important;
}
.mb140 {
  margin-bottom: 140px !important;
}
.mb135 {
  margin-bottom: 135px !important;
}
.mb130 {
  margin-bottom: 130px !important;
}
.mb125 {
  margin-bottom: 125px !important;
}
.mb120 {
  margin-bottom: 120px !important;
}
.mb115 {
  margin-bottom: 115px !important;
}
.mb110 {
  margin-bottom: 110px !important;
}
.mb105 {
  margin-bottom: 105px !important;
}
.mb100 {
  margin-bottom: 100px !important;
}
.mb95 {
  margin-bottom: 95px !important;
}
.mb90 {
  margin-bottom: 90px !important;
}
.mb85 {
  margin-bottom: 85px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mb75 {
  margin-bottom: 75px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.mb65 {
  margin-bottom: 65px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb55 {
  margin-bottom: 55px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb45 {
  margin-bottom: 45px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.no-padding {
  padding: 0 !important;
}
.float-nan {
  float: none;
}
.img-responsive {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.btn {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 40px;
  padding: 8px 30px;
  margin-bottom: 5px;
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
          transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
.btn.btn-lg {
  padding: 10px 35px;
  letter-spacing: 2px;
  font-size: 21px;
}
.btn.btn-sm {
  padding: 7px 20px;
  font-size: 14px;
}
.btn.btn-xs {
  padding: 5px 15px;
  font-size: 12px;
}
.btn-default {
  color: #676767;
  border-color: #e5e5e5;
}
.btn-default:hover {
  color: #fff;
  background-color: #EE3E3D;
  border-color: #EE3E3D;
}
.btn-default-o {
  color: #f2f2f2;
  border-color: #f2f2f2;
  background-color: transparent;
}
.btn-default-o:hover {
  color: #EE3E3D;
  background-color: #fff;
  border-color: #fff;
}
.btn-main-o {
  color: #EE3E3D;
  border-color: #EE3E3D;
  background-color: transparent;
}
.btn-main-o:hover {
  color: #fff;
  background-color: #EE3E3D;
  border-color: #EE3E3D;
}
.btn-dark-o {
  color: #4c4c4c;
  border-color: #4c4c4c;
  background-color: transparent;
}
.btn-dark-o:hover {
  color: #fff;
  background-color: #4c4c4c;
  border-color: #4c4c4c;
}
.btn-dark {
  color: #fff;
  background-color: #4c4c4c;
  border-color: #4c4c4c;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  background-color: #333333;
  border-color: #333333;
  color: #fff;
}
.btn-main {
  color: #fff;
  background-color: #EE3E3D;
  border-color: #EE3E3D;
}
.btn-main:hover,
.btn-main:focus,
.btn-main:active {
  background-color: #404041;
  border-color: #404041;
  color: #fff;
}
.btn-link {
  font-weight: 400;
  color: #EE3E3D;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  color: #4c4c4c;
  text-decoration: none;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h3 {
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  color: #4c4c4c;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 28px;
  line-height: 48px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  clear: both;
  position: relative;
  padding: 0 10px;
}
.section-title p {
}
.section-title.st-center {
  text-align: center;
}
.section-title.st-center:before {
  margin: auto;
}
.bottom-line {
  margin-bottom: 20px;
}
.bottom-line:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #EE3E3D;
  margin-top: 5px;
}
.tooltip.top .tooltip-arrow {
  bottom: 1px;
}
.tac {
  text-align: center;
}
.nicescroll-rails {
  background: rgba(0, 0, 0, 0.1);
  width: 5px;
  z-index: 9999 !important;
}
.nicescroll-rails:hover {
  opacity: 1 !important;
}
.nicescroll-rails > div {
  background: #EE3E3D !important;
}
/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */
.mouse-icon {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 16px;
  height: 40px;
  width: 24px;
  margin-left: -15px;
  display: block;
  z-index: 10;
  opacity: 0.7;
}
.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #fff;
  width: 2px;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
.home {
  background-image: url("../images/macbook_table_mockup_3.1280.jpg");
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  padding: 100px 0;
  position: relative
}
.home .st-brand {
  text-align: center;
  margin-bottom: 50px;
}
.home .st-home-unit {
  position: relative;
}
.home .hero-txt {
  color: #EE3E3D;
  text-align: center;
}
.home .hero-txt .hero-title {
  font-family: 'Varela Round', sans-serif;
  color: #EE3E3D;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 85px;
  font-weight: 400;
  letter-spacing: 8px;
  word-spacing: 4px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 20px 10px;
}
.home .hero-txt .hero-work {
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.home .hero-txt .hero-work:after {
  content: "";
  display: block;
  width: 200px;
  height: 4px;
  margin: 20px auto 0;
  background-color: transparent;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
}
.home .hero-txt a.btn {
  text-transform: uppercase;
}
.home .hero-txt a.btn.left-btn {
  margin-right: 20px !important;
}
.home .hero-txt .hero-sub-title {
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 300;
  margin-bottom: 70px;
}
.home .hero-txt .hero-img {
  margin-top: 80px;
}
.st-highlight {
  color: #EE3E3D;
}
.navbar-default {
  background-color: transparent;
  border-width: 0;
  margin-bottom: 0 !important;
  height: 102px;
  -webkit-transition: background-color 0.3s, height 0.3s;
          transition: background-color 0.3s, height 0.3s;
}
.st-navbar-mini .navbar-default {
  background-color: rgba(65, 65, 65, 0.95);
  height: 60px;
}
.st-navbar-mini .navbar-default .navbar-brand {
  padding: 5px 15px;
}
/*.st-navbar-mini .navbar-default .navbar-brand img {
  height: 30px;
}*/
.st-navbar-mini .navbar-default .navbar-nav > li.active > a,
.st-navbar-mini .navbar-default .navbar-nav > li.active a:hover,
.st-navbar-mini .navbar-default .navbar-nav > li.active a:focus,
.st-navbar-mini .navbar-default .navbar-nav > li.active a:active {
  background-color: rgba(238, 62, 61, 0.8);
}
.navbar-brand {
  height: auto;
  padding: 27px 15px;
  -webkit-transition: padding 0.3s;
          transition: padding 0.3s;
}
.navbar-brand img {
  height: 48px;
  -webkit-transition: height 0.3s;
          transition: height 0.3s;
}
.navbar-nav > li > a {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 18px;
  padding-right: 18px;
  color: #fff;
  -webkit-transition: color 0.3s, background-color 0.3s, padding 0.3s;
          transition: color 0.3s, background-color 0.3s, padding 0.3s;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:active {
  color: #EE3E3D;
  outline-width: 0;
}
.navbar-nav > li.active > a,
.navbar-nav > li.active a:hover,
.navbar-nav > li.active a:focus,
.navbar-nav > li.active a:active {
  color: #EE3E3D;
}
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a.underline::after{
  content: "";
  background-color: #4CAF50;
  height: 34px;
  position: absolute;
  width: 142px;
  z-index: -1;
  top: 35px;
  left: 11px;
}
.st-navbar-mini .navbar-default .navbar-nav > li > a.underline::after{
  background-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-nav > li > a.underline:hover{
  color: white;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active a:hover,
.navbar-default .navbar-nav > li.active a:focus,
.navbar-default .navbar-nav > li.active a:active {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #EE3E3D;
}
.subline {
  width: 80px;
  height: 2px;
  background-color: #EE3E3D;
  margin: auto;
  margin-bottom: 30px;
}
#trial {
  color: #FFFFFF;
}
.navbar-nav > li > .dropdown-menu {
  padding: 0;
  background-color: rgba(65, 65, 65, 0.95);
}
.dropdown-menu > li > a {
  padding: 10px 20px;
  color: #FFFFFF;
  font-family: 'Varela Round', sans-serif;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: rgba(238, 62, 61, 0.8);
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

/* VIDEO */
.bs-example{
  margin: 20px;
}
.modal-content iframe{
  margin: 0 auto;
  display: block;
}
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-body {
  margin-top: 40px;
}
.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: rgba(0,0,0,0);
}
.modal-header {
  border-bottom: none;
}
.close {
  float: right;
  color: #fff;
  opacity: 0.8;
}
.close:hover, .close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}

/* PRODUCT */
.product {
  padding: 100px 0;
  background-color: #f7f7f7;
}
.product .row {
  display: table;
}

.product [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.single_about {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #e8e8e9;
  border-right: 1px solid #e8e8e9;
  padding: 40px 20px;
  transition: all 0.4s ease 0s;
  text-align: center;
}
.single_about:last-child { border-right: 0px }
.single_about:hover {box-shadow:0 3px 45px 0 rgba(0, 0, 0, 0.2);z-index:999; }
.single_about i {
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  margin: 0 0 24px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out 0s;
  width: 60px;
}
.color-one{background: #EE3E3D none repeat scroll 0 0;}
.color-two{background: #404041 none repeat scroll 0 0;}
.single_about h4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out 0s;
}
.single_about p {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.single_about:hover i {
  transform: scale(1.1);
}
#monitoring {
  background-image: url("./../images/product-01.png");
  height: 100px;
  width: 100px;
  margin: 0 auto 20px;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #EE3E3D;
}
#optimize {
  background-image: url("./../images/product-02.png");
  height: 100px;
  width: 100px;
  margin: 0 auto 20px;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #404041;
}
#automate {
  background-image: url("./../images/product-03.png");
  height: 100px;
  width: 100px;
  margin: 0 auto 20px;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #EE3E3D;
}
/* FEATURES */
.solution {
  padding: 100px 0 50px;
}
/* SERVICES */
.services {
  padding: 100px 0;
  background-color: #f7f7f7;
}

.services h4 {
  color: #111111;
}
.services .m-row {
    display: table;
}

.services .m-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
@media (max-width: 768px) {
    .services .row {
        display: inherit;
    }

    .services [class*="col-"] {
        float: left;
        display: inherit;
        vertical-align: inherit;
    }
}
/* PRICE */
.panel
{
  text-align: center;
}
.panel:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
}
.panel-body
{
  padding: 0px;
  text-align: center;
}
#price .table {
  margin-bottom: 0;
}
#price .table td {
  height: 37px;
}
.panel-subheading {
  background-color: #8dd03f;
  color: #fff;
  padding: 10px 15px;
}
.panel-emptytop {
  margin-top: 37px;
}
.panel-heading .panel-title {
  color: #5a884b;
}
#free {
  border-color: #EE3E3D;
}
#free > .panel-subheading {
  color: #fff;
  background-color: #EE3E3D;
  border-color: #EE3E3D;
}
#exclusive {
  border-color: #78b435;
}
#exclusive > .panel-heading {
  color: #fff;
  background-color: #78b435;
  border-color: #78b435;
}
#enterprise {
  border-color: #EE3E3D;
}
#enterprise > .panel-subheading {
  color: #fff;
  background-color: #EE3E3D;
  border-color: #EE3E3D;
}
.the-price
{
  background-color: #FFFFFF;
  box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
  padding: 20px;
  margin: 0;
}

.the-price h1
{
  line-height: 1em;
  padding: 0;
  margin: 0;
}
.price-detail {
  color: #EE3E3D;
}
.subscript
{
  font-size: 25px;
}
.price {
  padding: 100px 0;
}
.btn-signup {
  background-color: #8dd03f;
  border-color: #7DB838;
}
.btn-signup:hover,
.btn-signup-2:hover{
  background-color: #78b435;
  border-color: #61912B;
}

.btn-signup-2 {
  background-color: #CACACA;
  border-color: #A8A8A8;
  color: #555;
}
.panel-footer {
  background-color: #FFFFFF;
}
/* RESOURCES */
.resources {
  padding: 120px 0;
  background-color: #FFFFFF;
}
.img-centered {
  margin: 0 auto;
}
.company-desc {
  text-align: center;
}
.company-desc strong {
  color: #EE3E3D;
}
/* CONTACT */
.contact {
  padding: 100px 0;
  background-color: #FFFFFF;
}
textarea.form-control {
  height: 215px;
}
#send_email {
  margin-bottom: 50px;
}
.contact .contact-social {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.contact .contact-social li {
  padding: 0;
  margin: 0;
  margin-right: 5px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
a.social {
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 1px;
  display: inline-block;
  background-color: #EE3E3D;
  color: #fff;
  padding: 8px 20px 8px 65px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  -webkit-transition: background-color 0.3s, text-indent 0.3s, padding 0.3s;
          transition: background-color 0.3s, text-indent 0.3s, padding 0.3s;
}
a.social i {
  display: block;
  background-color: #31ada4;
  width: 50px;
  height: 42px;
  line-height: 42px;
  font-size: 17px;
  border-radius: 50px 0 0 50px;
  position: absolute;
  left: 0;
  top: 0;
  text-indent: 10px;
  -webkit-transition: text-indent 0.3s;
          transition: text-indent 0.3s;
}
a.social:hover {
  background-color: #31ada4;
  text-indent: -10px;
  padding: 8px 30px 8px 65px;
}
a.social:hover i {
  text-indent: 29px;
}
a.social.twitter {
  background-color: #2daae1;
}
a.social.twitter i {
  background-color: #1a87b7;
}
a.social.twitter:hover {
  background-color: #1a87b7;
}
a.social.facebook {
  background-color: #3c5b9b;
}
a.social.facebook i {
  background-color: #2b416f;
}
a.social.facebook:hover {
  background-color: #2b416f;
}
a.social.linkedin {
  background-color: #1d87be;
}
a.social.linkedin i {
  background-color: #0274b3;
}
a.social.linkedin:hover {
  background-color: #0274b3;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a.social:hover {
    padding: 8px 20px 8px 65px;
  }
}
.contact form input,
.contact form textarea {
  margin-bottom: 30px;
}
input[type="text"].formFieldError,
input[type="email"].formFieldError,
textarea.formFieldError {
  border-color: #e34444 !important;
}
footer.site-footer {
  background-color: #fcfcfc;
  padding: 10px 0;
  color: #9f9f9f;
  font-size: 13px;
  text-align: center;
}
footer.site-footer a {
  color: #808080;
}
footer.site-footer a:hover {
  color: #EE3E3D;
}
@media (max-width: 768px) {
  .navbar-default .navbar-nav {
    background-color: #808080;
  }
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 41px;
    padding-bottom: 41px;
  }
  .st-navbar-mini .navbar-default .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .st-navbar-mini .navbar-default .navbar-nav > li > a.underline {
    background-color: #4CAF50;
  }
}
@media (min-width: 1440px) {
  .grid {
    width: 100%;
    padding: 0;
  }
  .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    background: #000;
    text-align: center;
    cursor: pointer;
    width: 25%;
  }
}
