<div class="panel panel-default" ng-if="tabActive == 5" id="costByResourcePanel">
    <div class="panel-body" ng-controller="GCCostResourceCtrl">
        <div class="col-md-2">
            <md-input-container>
                <md-select ng-model="selectedMonth" style="font-size: 17px;" aria-label="select month to display">
                    <md-option ng-value="month" ng-repeat="month in months">{{ getFormattedMonth(month.month) }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-md-5">
            <!--<h3 ng-if="selectedMonth.total" class="blue monts" style="display: inline-block; margin-left: 30px;" duration="3" decimals="2" count-up end-val="selectedMonth.total" options="countUpOptions"></h3>-->
        </div>
        <div class="col-md-12">
            <div class="spinner" ng-show="!dataLoaded">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>

            <div class="col-md-7" ng-show="dataLoaded">


                <md-input-container class="md-block" style="margin-bottom:0px;">
                    <label><i class="fa fa-search"></i> Search through all your resources</label>
                    <input ng-model="searchResource">
                </md-input-container>
                <ul class="list-group" ng-if="searchResource" style="max-height: 300px; overflow-y: scroll;">
                    <li class="list-group-item ngfade" ng-repeat="res in searchPool| filter:searchResource | orderBy:'-cost'">
                        {{res.resource}}
                        <strong class="pull-right">{{res.cost | currency:'$':3}}</strong>
                    </li>
                </ul>
                <md-tabs md-dynamic-height="true" md-selected="selectedTab">
                    <md-tab label="{{getFormattedCatLabel(key)}} resources" ng-repeat="(key, value) in categories">
                        <ul class="list-group" style="max-height: 250px; overflow-y: scroll;" >
                            <li class="list-group-item" ng-repeat="resource in value.resources">
                                {{resource.resource}}
                                <strong class="pull-right">{{resource.cost | currency:'$':3}}</strong>
                            </li>
                        </ul>
                        <h5 style="text-align: right; color : #08C;">Category TOTAL : {{value.total | currency: "$"}}</h5>

                    </md-tab>
                </md-tabs>


            </div>
            <div class="col-md-5" ng-if="dataLoaded">
                <h4 style="text-align: center;"><i class="fa fa-pie-chart"></i> {{getFormattedMonth(selectedMonth.month)}}</h4>
                <nvd3 options="chartOptions" data="chartData" api="api"></nvd3>
            </div>
        </div>
    </div>
</div>
